<% provide(:title, "Home") %>
<h1> UofT Course Info App</h1>
  <h2>
  This is the home page for the UofT Course Info Project
  </h2>

  <%= link_to "Sign up now!"%>

  <%= link_to "Courses", courses_url %>
