.site-header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.21) 0%, rgba(255, 255, 255, 0) 100%);
	background-color: transparent;
	border-bottom: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}