.primary-text {
	color: $primary-color;
}

.text-center {
	text-align: center;
}


// Debug class, remove in production
.TODO {
	background-color: red;
	color: white;

	&:before {
		content: 'TODO: ';
	}
}