<section id="filterrific_results">
    <div class="row">
      <% courses.each do |course| %>
        <div class="col-12 col-md-6 col-lg-4">
          <article class="card course">
            <span class="course__code"><%= course.code %></span>
            <div class="course__info">
              <h3><%= link_to course.title, course_path(course) %></h3>
            </div>
            <div class="course__actions">
              <%= link_to 'Details', course_path(course), :class => "btn btn--small"  %>
              <%= link_to "Add", course_add_path(course), :class => "btn btn--primary btn--small"  %>
            </div>
          </article>
        </div>
      <% end -%>
    </div>
</section>
