

$primary-color: #2279E4;
$secondary-color: #21335E;
$light-gray: #F1F4F8;
$medium-gray: #95989A;
$dark-gray: #393939;

$base: 18px;
$line-height: 28px;


$num-columns: 12;

$gutter-width-sm: 5px;
$gutter-width-md: 10px;
$gutter-width-lg: 20px;

$screen-sm-break: 400px;
$screen-md-break: 600px;
$screen-lg-break: 1300px;

$grid-spacing: 2%;