<footer class="site-footer navigation-bar navigation-bar--footer">
	<div class="container">
		<nav class="navigation-bar__nav navigation-bar__nav--footer">
			<ul class="inline-list">
				<li class="inline-list__item"><a href="#">Privacy</a></li>
				<li class="inline-list__item"><a href="#">Terms &amp; Conditions</a></li>
				<li class="inline-list__item"><a href="#">About</a></li>
			</ul>
		</nav>
	</div>
</footer>